﻿@model diaexpert.Models.schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doc.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doc.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pt.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pt.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consultdatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consultdatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
